@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply inline-block;
        @apply cursor-pointer;
        @apply select-none;
        @apply rounded-md;
        @apply border-none;
        @apply bg-none;
        @apply px-2;
        @apply py-1;
        @apply outline-none;
        @apply transition-colors;
    }

    .button[disabled] {
        @apply opacity-60;
        @apply pointer-events-none;
    }

    .button-green-outline {
        @apply border;
        @apply border-solid;
        @apply border-green-600;
        @apply text-green-600;
        @apply hover:bg-green-600;
        @apply hover:text-white;
    }

    .button-blue-outline {
        @apply border;
        @apply border-solid;
        @apply border-blue-600;
        @apply text-blue-600;
        @apply hover:bg-blue-600;
        @apply hover:text-white;
    }

    .button-blue {
        @apply border-none;
        @apply bg-blue-600;
        @apply text-white;
        @apply hover:bg-blue-500;
    }
}

@layer utilities {
    .details-reset > summary {
        list-style: none;
    }

    .details-reset > summary::before {
        display: none;
    }

    .details-reset > summary::-webkit-details-marker {
        display: none;
    }

    .material-icons.md-18 {
        font-size: 18px;
    }
    .material-icons.md-24 {
        font-size: 24px;
    }
    .material-icons.md-36 {
        font-size: 36px;
    }
    .material-icons.md-48 {
        font-size: 48px;
    }

    .material-icons-outlined.md-18 {
        font-size: 18px;
    }
    .material-icons-outlined.md-24 {
        font-size: 24px;
    }
    .material-icons-outlined.md-36 {
        font-size: 36px;
    }
    .material-icons-outlined.md-48 {
        font-size: 48px;
    }
}
