@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

@font-face {
    font-family: blank;
    src: url("/fonts/AdobeBlank.ttf.woff") format("woff"),
        url("/fonts/AdobeBlank.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply inline-block;
        @apply cursor-pointer;
        @apply select-none;
        @apply rounded-md;
        @apply border-none;
        @apply bg-none;
        @apply px-2;
        @apply py-1;
        @apply outline-none;
        @apply transition-colors;
    }

    .button[disabled] {
        @apply opacity-60;
        @apply pointer-events-none;
    }

    .button-green-outline {
        @apply border;
        @apply border-solid;
        @apply border-green-600;
        @apply text-green-600;
        @apply hover:bg-green-600;
        @apply hover:text-white;
    }

    .button-blue-outline {
        @apply border;
        @apply border-solid;
        @apply border-blue-600;
        @apply text-blue-600;
        @apply hover:bg-blue-600;
        @apply hover:text-white;
    }

    .button-blue {
        @apply border-none;
        @apply bg-blue-600;
        @apply text-white;
        @apply hover:bg-blue-500;
    }

    .button-themed-primary {
        background-color: var(--theme-accent-color-primary);
        color: var(--theme-accent-text-primary);
        @apply border-none;
    }

    .button-themed-primary:hover {
        background-color: var(--theme-accent-hover-primary);
    }

    .button-themed-primary-outline {
        border-color: var(--theme-accent-color-primary);
        color: var(--theme-accent-color-primary);
        @apply border;
        @apply border-solid;
    }

    .button-themed-primary-outline:hover {
        background-color: var(--theme-accent-color-primary);
        color: var(--theme-accent-text-primary);
    }

    .button-themed-secondary {
        background-color: var(--theme-accent-color-secondary);
        color: var(--theme-accent-text-secondary);
        @apply border-none;
    }

    .button-themed-secondary:hover {
        background-color: var(--theme-accent-hover-secondary);
    }

    .button-themed-secondary-outline {
        border-color: var(--theme-accent-color-secondary);
        color: var(--theme-accent-color-secondary);
        @apply border;
        @apply border-solid;
    }

    .button-themed-secondary-outline:hover {
        background-color: var(--theme-accent-color-secondary);
        color: var(--theme-accent-text-secondary);
    }

    .icon {
        @apply h-8;
        @apply w-8;
        @apply cursor-pointer;
        @apply select-none;
        @apply rounded-full;
        @apply p-1;
        @apply transition-colors;
        @apply hover:bg-black;
        @apply hover:bg-opacity-20;
    }

    .markdown {
        @apply p-2;
    }

    .markdown h1 {
        border-color: var(--theme-divisor-color);
        @apply text-4xl;
        @apply font-semibold;
        @apply my-4;
        @apply pb-1;
        @apply border-b;
    }

    .markdown h2 {
        border-color: var(--theme-divisor-color);
        @apply text-3xl;
        @apply font-semibold;
        @apply my-4;
        @apply pb-1;
        @apply border-b;
    }

    .markdown a {
        @apply hover:underline;
        color: var(--theme-link-color);
    }

    .markdown ul {
        @apply list-disc;
        @apply my-4;
        @apply pl-8;
    }

    .markdown ol {
        @apply list-decimal;
        @apply my-4;
        @apply pl-8;
    }

    .markdown :not(pre) > code {
        background-color: var(--theme-box-background-color-primary);
        color: var(--theme-box-text-color-primary);
        @apply px-1;
        @apply py-px;
        @apply rounded;
    }

    .markdown pre > code {
        background-color: var(--theme-box-background-color-primary);
        color: var(--theme-box-text-color-primary);
        @apply block;
        @apply p-2;
        @apply rounded;
    }

    .markdown p {
        @apply my-4;
    }
}

@layer utilities {
    .details-reset > summary {
        list-style: none;
    }

    .details-reset > summary::before {
        display: none;
    }

    .details-reset > summary::-webkit-details-marker {
        display: none;
    }

    .material-icons.md-18 {
        font-size: 18px;
    }
    .material-icons.md-24 {
        font-size: 24px;
    }
    .material-icons.md-36 {
        font-size: 36px;
    }
    .material-icons.md-48 {
        font-size: 48px;
    }

    .material-icons-outlined.md-18 {
        font-size: 18px;
    }
    .material-icons-outlined.md-24 {
        font-size: 24px;
    }
    .material-icons-outlined.md-36 {
        font-size: 36px;
    }
    .material-icons-outlined.md-48 {
        font-size: 48px;
    }

    .themed-background {
        background-color: var(--theme-background-color);
    }

    .themed-text {
        color: var(--theme-text-color);
    }

    .themed-link {
        color: var(--theme-link-color);
    }

    .themed-dim-text {
        color: var(--theme-dim-text-color);
    }

    .themed-divide > :not([hidden]) ~ :not([hidden]) {
        border-color: var(--theme-divisor-color);
    }

    .themed-divide-border {
        border-color: var(--theme-divisor-color);
    }

    .themed-font {
        font-family: var(--theme-font-family);
    }

    .themed-box-primary {
        background-color: var(--theme-box-background-color-primary);
        color: var(--theme-box-text-color-primary);
    }

    .themed-box-secondary {
        background-color: var(--theme-box-background-color-secondary);
        color: var(--theme-box-text-color-secondary);
    }

    .themed-box-border {
        border-color: var(--theme-box-border-color);
    }

    .themed-accent-primary-text {
        color: var(--theme-accent-color-primary);
    }

    .themed-accent-secondary-text {
        color: var(--theme-accent-color-secondary);
    }

    .themed-accent-primary-border {
        border-color: var(--theme-accent-color-primary);
    }

    .themed-accent-secondary-border {
        border-color: var(--theme-accent-color-secondary);
    }

    .themed-shadow {
        --tw-shadow-color: var(--theme-shadow-color);
        --tw-shadow: var(--tw-shadow-colored);
    }
}
